* {
  margin: 0;
  padding: 0;
  font-family: Open Sans,Helvetica,Arial,sans-serif;;
  box-sizing: border-box;
}

footer {
  height: 200px; 
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main {
  width: 70vw;
  margin: 0 auto;
}